footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin-top: 6em;
}

.footer-content {
    background-color: #ccc;
    padding: 10px;
    color: #fff;
}

.footer-content p {
    margin: 0;
}