.cabecalho__navegacao{

    display: flex;
    padding: 1em;
    margin-left: 6em;
    justify-content:space-between;
}

.cabecalho__navegacao__div__titulo{

    font-family: var(--titulo);
    color: var(--preto);
    margin-right: 3em;
    border-right: 1px solid var(--cinza);
    padding-right: 3em;
    font-weight: 200;
}

.cabecalho__navegacao__div{

    display: flex;
    gap: 1em;
    border-right:1px solid var(--cinza);
    padding-right: 3.5em;
    
}

.cabecalho__navegacao__div__link{

    text-decoration: none;    
    color: var(--cinza);
    
}

.cabecalho__navegacao__div2{
    display: flex;
    margin-right: 2em;
    gap: 1em;
    
}

.cabecalho__navegacao__link{

    text-decoration: none;
    color: var(--cinza);
    
}

.cabecalho__navegacao__div__link:hover{

    color:var(--preto);
}



