@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@100&display=swap');


:root{
    --titulo: 'Dela Gothic One', cursive;
    --font-padrao: 'Montserrat', sans-serif;

    --preto: #000000;
    --cinza:#585858;
    
}

body{
    box-sizing: border-box;
    height: 100vh;
}